<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vankeytech.pmp.pms.mapper.PmsServiceManagementMapper">
  <resultMap id="BaseResultMap" type="com.vankeytech.pmp.pms.entity.PmsServiceManagement">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="housing_id" jdbcType="INTEGER" property="housingId" />
    <result column="householders_id" jdbcType="INTEGER" property="householdersId" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="processing_state" jdbcType="INTEGER" property="processingState" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="maintenance_time" jdbcType="TIMESTAMP" property="maintenanceTime" />
    <result column="maintenance_type" jdbcType="INTEGER" property="maintenanceType" />
    <result column="maintenance_cost" jdbcType="DOUBLE" property="maintenanceCost" />
    <result column="maintenance_instruction" jdbcType="VARCHAR" property="maintenanceInstruction" />
    <result column="maintenance_man" jdbcType="VARCHAR" property="maintenanceMan" />
  </resultMap>
  <!--条件查询-->
  <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
  SELECT * from pms_service_management psm WHERE 1=1 AND
  pia.creation_time BETWEEN #{map.minDate} and #{map.maxDate}
  <if test="map.content!=null">
    AND pia.content LIKE #{map.content}
  </if>
  <if test="map.state!=null">
    AND pia.state=#{map.state}
  </if>
  <if test="map.ispush!=null">
    AND pia.ispush=#{map.ispush}
  </if>
  <if test="map.type!=null">
    AND  pia.type=#{map.type}
  </if>
  </select>
</mapper>