<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vankeytech.pmp.cms.mapper.ParkingGateMapper">
  <resultMap id="BaseResultMap" type="com.vankeytech.pmp.cms.entity.ParkingGate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sentry_booth_id" jdbcType="INTEGER" property="sentryBoothId" />
    <result column="direction" jdbcType="INTEGER" property="direction" />
    <result column="hide" jdbcType="INTEGER" property="hide" />
  </resultMap>

</mapper>