<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vankeytech.pmp.hms.mapper.UserBuildingMapper">
  <resultMap id="BaseResultMap" type="com.vankeytech.pmp.hms.entity.UserBuilding">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_building_id" jdbcType="BIGINT" property="userBuildingId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="building_id" jdbcType="BIGINT" property="buildingId" />
  </resultMap>
</mapper>