<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vankeytech.pmp.auth.mapper.OvertimeMapper">
  <resultMap id="BaseResultMap" type="com.vankeytech.pmp.auth.entity.Overtime">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="overtime" jdbcType="BIGINT" property="overtime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="overtime_personnel" jdbcType="VARCHAR" property="overtimePersonnel" />
  </resultMap>
</mapper>