<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vankeytech.pmp.auth.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.vankeytech.pmp.auth.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_register_account" jdbcType="VARCHAR" property="userRegisterAccount" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="finally_login_time" jdbcType="TIMESTAMP" property="finallyLoginTime" />
    <result column="login_count" jdbcType="BIGINT" property="loginCount" />
    <result column="deleted_id" jdbcType="INTEGER" property="deletedId" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="user_emial" jdbcType="VARCHAR" property="userEmial" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="portrait_url" jdbcType="VARCHAR" property="portraitUrl" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
  </resultMap>

  <update id="updateArea" parameterType="com.vankeytech.pmp.auth.entity.User">
    UPDATE auth_user SET area_id=#{areaId}  WHERE  user_id=#{userId}
  </update>

  <select id="selectByName" parameterType="com.vankeytech.pmp.auth.entity.User" resultMap="BaseResultMap" >
    SELECT * FROM auth_user WHERE user_register_account=#{userRegisterAccount} OR nickname=#{nickname}
  </select>


</mapper>